<body>
    <main>
        <div class="index-visuals">
            {{ block "visuals" . }}{{ end }}
        </div>
        <div class="index-list">
            <header class="site-header">
                <nav class="top-nav">
                    <div class="nav-left"><a href="/">BOÜE</a></div>
                    <div class="nav-right">
                        <a href="/about">ABOUT</a>
                        <a href="/contacto">CONTACTO</a>
                        <a href="/instagram">INSTAGRAM</a>
                    </div>
                </nav>
            </header>

            <section class="site-intro">
                <p>{{ .Site.Data.intro.texto }}</p>
            </section>

            <div class="list-content">
                {{ block "main" . }}{{ end }}
            </div>
        </div>
    </main>
</body>